body{
    background-color:#222831;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    max-width: 720px;
}
.MainTitle{
    text-align: center;
    color: #0092ca;
    font-family: 'Courier New', Courier, monospace;
}
.SubTitle{
    text-align: center;
    color: #eeee;
    font-family:'Courier New', Courier, monospace;
}
.textbodybox{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}
.textbody{
    text-align: justify;
    color: #eeee;
    font-family:Arial, Helvetica, sans-serif;
    margin: 3%;
}
.imagebodybox{
    width: 30%;
    margin: 3%;
}
.imagesbody{
    width: 100%;
    float: left;
}
.BodyTextyImages{
    padding: 1%;
}