body{  
  background-color: #222831;
  /*background-image: url("../Images/Waifu.jpeg");*/
}
.bodycontainer{
    background-color:#222831;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    max-width: 720px;
}
.MainTitle{
    text-align: center;
    color: #0092ca;
    font-family: 'Courier New', Courier, monospace;
}
.SubTitle{
    text-align: center;
    color: #eeee;
    font-family:'Courier New', Courier, monospace;
}
.textbodybox{
    display: none;
}
.textbody{
    text-align: justify;
    color: #eeee;
    font-family:Arial, Helvetica, sans-serif;
    margin: 3%;
}
.imagebodybox{
    width: 30%;
    margin: 3%;
}
.imagesbody{
    width: 100%;
    float: left;
}
.BodyTextyImages{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    min-height: 155px;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.Download-section{
  margin: 20px;
}

.Download-button{
  position: absolute;
  left: 42%;
  background-color: #0092ca;
  color: white;
  border-color: white;
  height: auto;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
}